body {
  background: #9fdf9f;
  font-family: sans-serif;
}

.userInput {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h1 {
  text-align: center;
}

#input-sentence {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#myButtons {
  padding-top: 50px;
}
